@import "./../../assets/styles/vars";
.addBtn {
    border-radius: 20px;
    padding-right: 8px !important;
    font-size: 12px;
}
.ul {
    li:nth-child(5n) {
        background-color: $angularBlue;
    }
}
