<div class="container py-5 mt-3">
    <div class="d-flex flex-row justify-content-center">
        <div class="col-12 col-md-6">
            <form [formGroup]="signupForm" (ngSubmit)="onPreviewClick()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="inputWrapper">
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                    <span class="formErrorWrapper" *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.errors">
                        <small class="form-text formError" *ngIf="signupForm.get('name')?.errors?.required" >Enter Name</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-12 col-md-4">Gender</label>
                    <label class="col-6 col-md-4">
                        <input class="mr-1" type="radio" value="Male" formControlName="gender">
                        <span>male</span>
                    </label>
                    <label class="col-6 col-md-4">
                        <input class="mr-1" type="radio" value="Female" formControlName="gender">
                        <span>female</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="inputWrapper">
                        <input type="email" id="email" class="form-control" formControlName="email">
                    </div>
                    <span class="formErrorWrapper" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors">
                        <small class="form-text formError" *ngIf="signupForm.get('email')?.errors?.required" >Enter Email</small>
                        <small class="form-text formError" *ngIf="signupForm.get('email')?.errors?.pattern" >Enter A Valid
                            Email</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <div class="inputWrapper">
                        <input type="text" id="mobile" class="form-control" formControlName="mobile">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <div class="inputWrapper">
                        <select name="category" id="category" class="form-control" formControlName="category">
                            <option *ngFor="let option of categoryOptions" value={{option.toLowerCase()}}>{{option}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Technology</label>
                    <div class="flex-row">

                        <div *ngFor="let technology of technologyList" class="d-inline-block col-12 col-md-6">
                            <input type="checkbox" value={{technology.toLowerCase()}} id={{technology.toLowerCase()}} class="d-inline-block form-control checkbox" formControlName="technology">
                            <label for={{technology.toLowerCase()}}>{{technology}}</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Preview</button>
            </form>
        </div>
    </div>
</div>