@import "./../../../assets/styles/vars";

.dTable{
    box-shadow: $lightGreyBorder;
}
.tableRow {
    padding-top: 10px ;
    padding-bottom: 10px ;
    border-bottom: 1.3px solid rgb(133, 133, 133);
    &:nth-last-of-type(1){
        border-bottom: none;
    }
}
.tableColHeader {
    font-weight: 600;
    padding-top: 10px ;
    padding-bottom: 10px ;
    border-bottom: 2px solid $black;
}
.dDisplayNone {
    display: none;
}
.label{
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .mDisplayNone {
        display: none;
    }
    .dDisplayNone {
        display: block;
    }
}
