<!-- desktop view -->
<div class="flex-row mDisplayNone dTable m-3 p-2">
    <div *ngFor="let key of keys" class="col-2 col-sm-2 tableColHeader d-inline-block">
        {{titleCase(key)}}
    </div>
    <div *ngFor="let user of fetchedUserData" class="d-flex flex-row tableRow">
        <div *ngFor="let key of keys" class="col-2 col-sm-2 m-auto d-inline-block">
            <span *ngIf="key !== 'technology'" class="data">{{user[key]}}</span>
            <ul *ngIf="key === 'technology'" class="data">
                <li *ngFor="let tech of user[key]">
                    {{tech}}
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- mobile view -->
<div class="flex-row dDisplayNone">
    <div *ngFor="let user of fetchedUserData" class="flex-row mb-3 tableRow">
        <div *ngFor="let key of keys" class="col-12 d-inline-block">
            <span class="label">{{titleCase(key)}}: </span>
            <span class="data">{{user[key]}}</span>
        </div>
    </div>
</div>